<div id="apptable" ng-controller="mainController">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search your app" ng-model="searchFish">
            </div>
        </div>
    </form>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
            App ID 
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                </td>
                <td>
                    <a ng-click="sortType = 'fish'; sortReverse = !sortReverse">
          App Name 
            <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                </td>
                <td>
                    <a ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
          App Path 
            <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                </td>
                <td>
                    <a ng-click="sortType = 'fish'; sortReverse = !sortReverse">
          IP Adress 
            <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                </td>
                <td>
                    <a ng-click="sortType = 'fish'; sortReverse = !sortReverse">
          Port Num 
            <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <!-- <tr ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                <td>{{ roll.name }}</td>
                <td>{{ roll.fish }}</td>
                <td>{{ roll.tastiness }}</td>
            </tr> -->
            <tr ng-repeat="apps in asushi | orderBy:sortType:sortReverse | filter:searchFish">
                <td>{{ apps.instanceNum }}</td>
                <td>{{ apps.nodeName }}</td>
                <td>{{ apps.path }}</td>
                <td>{{ apps.IPAddress }}</td>
                <td>{{ apps.port }}</td>
            </tr>
            <tr ng-hide="asushi.length"><td colspan="5">No apps hosted yet!</td></tr>
        </tbody>
    </table>
    
</div>
